.header {
    margin: 40px 0;
    align-content: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;

    &__navbar {
        visibility: hidden;
        position: absolute;
        overflow: hidden;
        max-height: 0px;
        top: 100%;
        left: 25px;
        right: 25px;
        text-align: center;
        padding: 20px;
        background-color: white;
        border-radius: 5px;
        z-index: 20;
        pointer-events: none;
        transition: max-height 0.4s ease-in, visibility 0.4s ease-in;

        &__list {
            list-style: none;
            font-weight: $Weight-bold;
            padding: 0;
            margin: 0;

            li {
                margin: 25px 0;
            }

            a {
                text-decoration: none;
                color: $Dark-Blue;

                &:hover {
                    color: $DarkGrayishBlue;
                }
            }
        }

    }

    &__menu__close {
        display: none;
        position: relative;
        right: 0;
        z-index: 30;
    }

    &__menu__open {
        display: none;

    }

    &__button {
        display: none;
        @extend %button--general;



    }
}



.header__background__menu__responsive {
    position: absolute;
    visibility: hidden;
    top: 0;
    width: 100%;
    z-index: 10;
    background-image: linear-gradient(#ffffff, #0a0a0a);
    opacity: 0;
    transition: opacity 0.1s ease-in, visibility 0.1s ease-in;

}

//TOOGLERS
.menu--toogle {
    visibility: visible;
    max-height: 300px;
    pointer-events: all;
}

.bg--toogle {
    visibility: visible;
    height: 100%;
    opacity: 40%;
}

.button--toogle {
    display: block;
}

.body--hiden {
    overflow: hidden;
}




@media only screen and (min-width:768px) {
    .header {
        position: initial;

        &__navbar {
            display: block;
            position: initial;
            padding: 0;
            max-height: 25px;
            background-color: initial;
            max-width: 500px;
            flex-grow: 1;
            pointer-events: all;

            &__list {
                max-height: 25px;
                visibility: visible;
                display: flex;
                justify-content: space-evenly;

                li {
                    margin: 0
                }
            }
        }

        &__menu__open {
            display: none;
        }

        &__menu__close {
            display: none;
        }

        &__button {
            display: block;

        }


    }

    .header__background__menu__responsive {
        display: none;
    }
}